{
  "generatorOpts": {
    "retainFunctionParens": true
  },
  "presets": ["es2015"],
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": false
    }]
  ]
}