{
  "generatorOpts": {
    "retainFunctionParens": true
  },
  "presets": [
    ["env", {
      "targets": {
        "node": "4.8",
        "uglify": true
      }
    }]
  ],
  "plugins": [
    "array-includes"
  ]
}