{
  "generatorOpts": {
    "retainFunctionParens": true
  },
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "4.8",
        "uglify": true
      }
    }]
  ],
  "plugins": [
    "@babel/transform-runtime"
  ]
}