sudo: false
language: node_js

node_js:
  - "4"
  - "6"
  - "stable"

cache:
  yarn: true
  directories:
    - node_modules

script: "yarn run travis"

after_success:
  - yarn run test:coveralls
  - rm -rf ./coverage
